@{
    Layout = null;
}

<div id="result" style="position: fixed; margin: 5px 20px 20px 20px;">
    <legend>Settings</legend> 

    <button id="btnPrimary" class="btn btn-primary">Test alert-info</button> 
    <button id="btnSuccess" class="btn btn-success">Test alert-success</button> 
    <button id="btnWarning" class="btn btn-warning">Test alert-block</button> 
    <button id="btnDanger" class="btn btn-danger">Test alert-error</button> 
    <br/><br/>

    <div id="alert-area"></div>
    <div>After content goes here ver.1</div>

    <br/><br/>
    <button id="btnInverse" class="btn btn-inverse">Test notifications</button> 
    <div class='notifications top-right'></div>
    <div class='notifications bottom-right'></div>
    <br/><br/>
    <div>After content goes here ver.2</div>
</div>

<script src="@Url.Content("~/Scripts/business/Settings.js")" type="text/javascript"></script>
<script type="text/javascript">
    Settings.init();
</script>