@{
    Layout = null;
    ViewBag.Title = "NiCris Realtime Tasks Dashboard";
}

<div style="margin:10px 10px 10px 10px;">
    <legend>Tasks Dashboard</legend> 

    <div id="TasksTableContainer"></div>

    <div id="MessagingDiv" class="rectangular-area">
        Enter a message to send to all users:
        <input type="text" id="Message" style="width: 600px;" maxlength="128" />
    </div>

    <div id="TableUpdates" class="rectangular-area">
        <p>Latest received events (You are <span id="MyClientName">@ViewBag.ClientName</span>):</p>
        <ul id="EventsList"></ul>
    </div>
</div>

<style>
    .aligntobottom {
        bottom: 0;
        position: absolute;
    }

    footer.container.navbar-fixed-top {
        top: auto;
        bottom: 9px;
    }

    div.rectangular-area {
        border: 1px solid #999;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        background-color: #EEE;
    }

    #TableUpdates {
        height: 200px;
        overflow: auto;
    }

    .event-deleted {
        color: Red;
    }

    .event-updated {
        color: green;
    }

    .event-created {
        color: blue;
    }

    .event-message {
        color: rgb(117, 117, 117);
    }

    p.demo-info {
        font-size: 12px;
        color: rgb(44, 50, 230);
        font-weight: bold;
    }
</style>

<script src="@Url.Content("~/Scripts/business/Task.Dashboard.js")" type="text/javascript"></script>
<script type="text/javascript">
    TaskDashboard.init('@ViewBag.ClientName');
</script>
