<?xml version="1.0" encoding="utf-8" ?>

<nlog throwExceptions="false" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--TODO: DB TARGET, create the logging table... -->
    <!--<target xsi:type="Database" name="database" dbProvider="mssql" dbHost=".\SQL2008R2" dbDatabase="db-name" dbUserName="sa" dbPassword="pass"
            commandText="insert into NiCris_Log(date, level, logger, message, thread, context, entity, key1, key2, key3, exception) values(@time_stamp, @level, @logger, @message, @ThreadID, @context, @entity, @key1, @key2, @key3, @exception);">
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@entity" layout="${mdc:item=Entity}"/>
      <parameter name="@key1" layout="${mdc:item=Key1}"/>
      <parameter name="@key2" layout="${mdc:item=Key2}"/>
      <parameter name="@key3" layout="${mdc:item=Key3}"/>
      <parameter name="@context" layout="${mdc:item=Context}"/>
      <parameter name="@ThreadID" layout="${threadid}"/>
      <parameter name="@exception" layout="${exception:format=tostring}"/>
    </target>-->

    <!--FILE TARGET-->
    <!--Useful layout for debugging: -->
    <!--layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"-->
    <!--layout="${date}: ${message} ${stacktrace}"-->
    <target name="file" xsi:type="File"
            layout="${date}: ${message} ${exception:format=tostring}"
            fileName="${basedir}/_Logs/logfile.txt"
            archiveFileName="${basedir}/archives/log.{#####}.txt"
            archiveAboveSize="524288"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <!--<logger name="*" minlevel="Info" writeTo="database" />-->
  </rules>
</nlog>
