<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
  <!--NiCris DB-->
  <add name="NiCrisConnectionString"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NiCris.Dashboard;Integrated Security=SSPI"
       providerName="System.Data.SqlClient" />

  <add name="NiCrisCeConnectionString"
       connectionString="DataSource=|DataDirectory|Database.sdf"
       providerName="System.Data.SqlServerCe.4.0" />
  
  <!--<add name="NiCrisConnectionString"
        connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
        providerName="System.Data.SqlClient" />-->

  <!--<add name="NiCrisConnectionString"
      connectionString="Data Source=.\SQL2008R2;Initial Catalog=NiCris.Dashboard;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />-->
  
</connectionStrings>